img {
  width: 100%;
  border-radius: 10px;
  height: 230px;
  object-fit: cover;
}
.subHeading {
  font-size: 12px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.counterText {
  font-size: 14px;
}
.mainHeading {
  font-weight: 600;
  font-size: 23px !important;
  line-height: 34px;
  display: block;
}
